.menu-item {
    transition: background-color 0.5s ease;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #1abc9c;
}

.menu-item a {
    color: #fff;
    text-decoration: none; /* 下線は非表示 */
    display: block; /* <li>のどこをクリックしても反応させるために必要 */
    padding: 0.5em 1em; /* .menu-item側に書かないこと！そっちに書くと「<li>のどこをクリックしても反応させる」が出来なくなる */
}

.menu-item a.active { /* NavLinkのactive時に適用するスタイル（a:activeではないので注意！） */
    color: #f1c40f !important;
}

.menu-item a:visited {
    color: #fff;
}